#cont{
    margin: 20px;
    padding: 15px;
}

#form1
{
    background-color: lightcyan;

}
#form2{
    display: none;
    background-color: lavender;

}
#form3{
    display: none;
    background-color: lavenderblush;

}
#formResult{
    display: none;
    background-color: lightgreen;

}

.resultLabel{
    font-size: 16px;
}