#loginForm{
    /*display: none;*/
    background-color: lightgreen;
    border: solid gray 1px;
    border-radius: 15px;
    align-content: center;
    padding: 10px;
}

#registerForm{
    display: none;
    background-color: lightblue;
    border-radius: 15px;
    border: solid gray 1px;
    padding: 10px;
}

#profilForm{
    display: none;
    background-color: lightcyan;
    border: solid gray 1px;
    border-radius: 15px;
    padding: 10px;
}

#resumeForm{
    display: none;
    background-color: lightyellow;
    border: solid gray 1px;
    border-radius: 15px;
    padding: 10px;
}

#taskForm{
    display: none;
    background-color: aliceblue;
    border: solid gray 1px;
    border-radius: 15px;
    padding: 10px;
}

.logd{
    display: none;
}

#profilForm{
    display: none;
    background-color: lightgray;
    border: solid gray 1px;
    padding: 10px;
}

.resumeTable{
    border: solid 2px gray;
    text-align: center;
    padding: 10px;
}

#addJobForm{
    display: none;
    margin: 20px;
    padding: 20px;
    position: absolute;
    background-color: #e0ffb3;
    border: solid gray 1px;
    border-radius: 10px;
}

#addTaskForm{
    display: none;
    margin: 20px;
    padding: 20px;
    position: absolute;
    background-color: #d8fffc;
    border: solid gray 1px;
    border-radius: 10px;
}